<main class="min-h-screen
              bg-gray-950/[4.5%]
              bg-[radial-gradient(circle,#73737350_1px,transparent_1px)]
              bg-[size:10px_10px]
              absolute -z-10
              pl-5
              pr-5
              pt-2
              pb-2
">
  <div class="grid grid-flow-row auto-rows-max grid-cols-2 gap-4 mx-auto">
    <div class="mx-auto rounded-xl bg-white
                p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none
                dark:-outline-offset-1 dark:outline-white/10">
      <span>orig</span>

      <div>
        <p class="text-gray-500 dark:text-gray-400">
          line 1 english
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
        </p>
      </div>
    </div>

    <div class="mx-auto rounded-xl bg-white
                p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none
                dark:-outline-offset-1 dark:outline-white/10">
      <span>translated</span>

      <div>
        <p class="text-gray-500 dark:text-gray-400">
          serifu 1 trans long text of a really long nature that just keeps going
          serifu 1 trans long text of a really long nature that just keeps going
          serifu 1 trans long text of a really long nature that just keeps going
          serifu 1 trans long text of a really long nature that just keeps going
          and going and going and going.
        </p>
      </div>
    </div>





    <div class="mx-auto rounded-xl bg-white
                p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none
                dark:-outline-offset-1 dark:outline-white/10">
      <span>orig</span>

      <div>
        <p class="text-gray-500 dark:text-gray-400">
          line 1 english
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
        </p>
      </div>
    </div>

    <div class="mx-auto rounded-xl bg-white
                p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none
                dark:-outline-offset-1 dark:outline-white/10">
      <span>orig</span>

      <div>
        <p class="text-gray-500 dark:text-gray-400">
          line 1 english
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
          of a really long nature
        </p>
      </div>
    </div>
  </div>
</main>

<div id="root" />